body {
	background-color: rgba(168, 168, 168, 0.89);
}

/*****************************************************
BASE FLEXBOX STYLING
*****************************************************/

.flex-gal {
	/*mobile-first styling, single column until media queries kick in*/
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-align-content: space-between;
	-moz-align-content: space-between;
	align-content: space-between;
	width: 100%;
	text-align: center;
}

.gal-item {
	margin: 20px auto;
	padding: 0px;
	max-width: 90%;
	text-align: center;
	/*use the max-width/height to control thumbnail size*/
	max-width: 200px;
	max-height: 200px;
	border: 1px solid rgba(92, 92, 92);
	border-radius: 4px;
}


/*****************************************************
MEDIA QUERY FLEXBOX STYLING
*****************************************************/

/*once screen is wide enough, change to wrapped flex row.
	break point(s) should be changed to accomodate image-thumbnail size*/
@media ( min-width: 500px ) {
	.flex-gal {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.gal-item {
		max-width: 45%;
		margin-left: 20px;
		margin-right: 20px;
	}

}

